
/* Bootstrap custom CSS */

body {
  padding-top: 5rem;
}

.heading {
  padding: 16px 16px;
  text-align: center;
  background-color: #fd9191;
}

.main{
  margin-left: 0px;
  margin-right: 0px;
}

.axis-label {
  font-weight: bold;
}

#navbar {
  fill: #2B85B3;
}

#navigation {
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #c9fdd7;
}

#left-col {
  background-color: #fddd8a;
  padding-top: 8px;
}

#right-col {
  background-color: #fddd8a;
  padding-top: 8px;
}

#prev-button {
  padding-right: 5px;
}

#next-button {
  padding-left: 5px;
}

#chart {
  background-color: #fff8d2;
}

#plot{
  margin: auto;
  width: 50%;
  height: 50%;
}

#xAxis{
  width: 50%;
}

#xLabel{
  width: 50%;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
	color:#eee;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* -------------------- */

/*



#menu {
  position: absolute;
  top: 160px;
  left: 15px;
  width: 120px;
  text-align: left;
  opacity:1;
  transition:opacity 1s linear;
}

ul {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin-top: 3px;
}

li {
  cursor: pointer;
  padding-bottom: 5px;
  font-weight: 100%;
}


/* body {
  background-color: #fff;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}
*/


h1 {
  font-size: 3rem;
}

/* SVG styling */

circle {
  opacity: 0.7;
}

#xAxis path, #yAxis path, #xAxis line, #yAxis line {
	stroke: #ccc;
	fill: none;
	shape-rendering: crispEdges;
}

path {
	fill: #CED8B6;
}
