
/* Bootstrap custom CSS */

body {
  padding-top: 5rem;
}

h1 {
  font-size: 3rem;
}

.heading {
  padding: 16px 16px;
  text-align: center;
}

.main{
  margin-left: 0px;
  margin-right: 0px;
}

.axis-label {
  font-weight: bold;
}

.menu-options {
  margin: 0px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s linear;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 1s, opacity 1s linear;
  transition-delay: 0s;
}

.selected {
  font-weight: bold;
  color: #09a8fa;
}

#navigation {
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #f7fbfc;
  border-bottom: 1px solid black;
}

#left-col {
  padding-top: 8px;
}

#x-axis-menu {
  margin-top: 60px;
  width: 100%;
}

#x-axis-menu h6{
  margin-bottom: 10px;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

#x-axis-menu p{
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}

#x-axis-menu p:hover{
  color: #09a8fa;
  font-weight: bold;
}

#y-axis-menu {
  margin-top: 25px;
  width: 100%;
}

#y-axis-menu h6{
  margin-bottom: 10px;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

#y-axis-menu p{
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}

#y-axis-menu p:hover{
  color: #09a8fa;
  font-weight: bold;
}

#about {
  margin-top: 90px;
  font-size: 10px;
}

#right-col {
  padding-top: 8px;
}

#prev-button {
  padding-right: 5px;
  vertical-align: middle;
}

#next-button {
  padding-left: 5px;
}

#plot-title {
  vertical-align: middle;
}

#explanation-text {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 60px;
  font-size: 14px;
}

#legend {
  display: block;
  margin: auto;
  position: absolute;
}

#legend svg{
  position: absolute;
  display: block;
  margin: auto;
  width: 200px;
  height: 300px;
  font-size: 12px;
}

.legendSize .legendLinear{
  position: inherit;
}

.legendTitle {
  font-size: 14px;
}

#chart {
  background-color: #f7fbfc;
}

#plot{
  margin: auto;
  width: 50%;
  height: 50%;
}

#xAxis{
  width: 50%;
}


#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #1c3d63;
  /*background-color: #1b3c59;*/
  opacity: 0.7;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
	color:#eee;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* SVG styling */

circle {
  opacity: 0.7;
}

#xAxis path, #yAxis path, #xAxis line, #yAxis line {
	stroke: #ccc;
	fill: none;
	shape-rendering: crispEdges;
}

path {
	fill: #CED8B6;
}
